@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(67, 169, 237);
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgb(167, 218, 251);
  border-radius: 20px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
};