@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 49, 138);
  font-family: 'Bitcount Single', sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: rgb(255, 102, 176);
  border-radius: 60px;
  border: 10px;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

.btn:focus {
  outline: none;
}